.container {
    width: 1024px;
}

.hero {
    display: flex;
    flex-direction: row;
}

.hero > div {
    width: 50%;
}

.hero .left-side .span3 {
    width: 75%;
    margin: 30px 0px;
}

.services .grid {
    margin: 80px 0px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.absolute {
    width: 350px;
    top: -50%;
}

.abs-left {
    left: 50%;
}

.abs-right {
    right: 50%;
}

.relative img {
    width: 300px;
    height: 350px;
}