.container {
    width: 100%;
}

.container .vh {
    height: 100vh;
}

.container .mtb {
    margin: 15rem 0;
}

.hero {
    display: flex;
    flex-direction: row;
}

.hero > div {
    width: 50%;
}

.hero .left-side .span3 {
    width: 100%;
    margin: 30px 0px;
}

.hero .right-side img {
    width: 350px;
    border-radius: 15px;
}

.services h1 {
    font-size: 4rem;
}

.services .grid {
    margin: 80px 0px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.relative {
    width: 500px;
}

.relative img {
    height: 500px;
}

.absolute {
    width: 50%;
}

.abs-left {
   margin-left: -10%;
}

.abs-right {
    margin-right: -10%;
    z-index: 2;
}

.hero .left-side .span3 {
    width: 400px;
}

/* .relative img {
    width: 300px;
    height: 350px;
} */

.hero .right-side {
    justify-content: end;
}
.hero .right-side {
    text-align: right;
}

.btn-grp {
    flex-direction: row;
}

.btn-grp > button {
    margin-right: 10px;
}