@import "large.css" screen and (min-width: 1024px);
@import "medium.css" screen and (min-width: 801px) and (max-width: 1023px);
@import "small.css" screen and (max-width: 800px);
@import "fonts.css";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(239, 235, 250);
}

.container {
    height: min-content;
    /* background-color: rgb(255, 255, 255); */
    margin: auto;
    padding: 0px 10px;
}

.container .vh {
    display: flex;
    align-items: center;
    justify-content: center;
}



.hero {
    /* background-color: antiquewhite; */
    width: 100%;
    /* padding: 0px 10px; */
}

.hero .left-side {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hero .left-side .span1 {
    font-size: 1.2rem;
    color: rgb(118, 77, 240);
}

.hero .left-side .span2 {
    font-size: 3rem;
    color: black;
    line-height: 60px;
}

.hero .left-side .span3 {
    font-size: 1rem;
    color: black;
}

.btn-grp2 {
    display: flex;
    flex-direction: row;
}

.btn-grp2 > button {
    margin-right: 10px;
}

.btn-grp {
    display: flex;
}

.btn1 {
    background-color: rgb(90, 37, 237);
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 1rem; 
    padding: 8px 18px;
}

.btn1:hover {
    cursor: pointer;
    background-color: white;
    color: rgb(90, 37, 237);
    box-shadow: 1px 1px 3px silver;
    transition: 100ms;
}

.btn2 {
    padding: 6px 9px;
    border-radius: 50%;
    border: 2px solid rgb(90, 37, 237);
    background-color: transparent;
    color: rgb(90, 37, 237);
    font-size: 2rem;
}

.btn2:hover {
    cursor: pointer;
    background-color: rgb(90, 37, 237);
    color: white;
    transition: 100ms;
}

.hero .right-side {
    display: flex;
    align-items: center;
}

.hero .right-side img {
    width: 300px;
    border-radius: 15px;
}

.services h1 {
    text-align: center;
}

.services .grid div {
    padding: 15px;
}

.services .bg-stl i{
    padding: 15px;
    border-radius: 50%;
    font-size: 2rem;
}

.i1 {
    background-color: rgb(154, 187, 252);
}

.i2 {
    background-color: rgb(121, 245, 183);
}

.i3 {
    background-color: rgb(155, 120, 251);
}

.services h3 {
    margin-top: 8px;
}

.services .mt {
    margin-top: 20px;
    color: #48464b;
}

.fsize {
    font-size: 5rem;
}

.bg-1 {
    background-color: rgb(244, 236, 170);
}

.bg-2 {
    background-color: rgb(160, 242, 206);
}

.bg-3 {
    background-color: rgb(186, 163, 251);
}

.project-wrap {
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 50px;
    /* background-color: aqua; */
}

.relative {
    height: min-content;
}

.relative img {
    object-fit: cover;
    background-color: white;
    border-radius: 15px;
    width: 100%;
    box-shadow: 0px 0px 20px #4705fc33;
}

.absolute {
    /* position: relative; */
    display: grid;
    gap: 20px;
    background-color: rgb(239, 235, 250);
    padding: 30px;
    height: min-content;
    border-radius: 10px;
    box-shadow: 1px 1px 8px silver;
}

.text-fade {
    color:#48464b
}

.text-bold {
    font-weight: 900;
}

.btn3 {
    background-color: transparent;
    color: rgb(90, 37, 237);
    border: 2px solid rgb(90, 37, 237);
    border-radius: 30px;
    font-size: 1rem; 
    padding: 8px 18px;
}

.btn3:hover {
    cursor: pointer;
}